@model StoreFront.Data.EF.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1 align="center">Details</h1>

<div class="container">
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyInStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.ProductImage)*@
            <img src="~/images/@Model.ProductImage" alt="@Model.Name" class="img-fluid" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size.SizeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockStatus.Status)
        </dd>
    </dl>
</div>
<div class="row" align="center">
    <div class="col-md-6 offset-3">

    <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@Model.ProductId">Add To Cart</a> |
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
    </div>
</div>
